{
    "name": "{{ROOT_DIR}}.Runtime",
    "rootNamespace": "{{ROOT_DIR}}",
    "references": [
        "VRC.SDKBase"
    ],
    "includePlatforms": [],
    "excludePlatforms": [],
    "allowUnsafeCode": false,
    "overrideReferences": false,
    "precompiledReferences": [],
    "autoReferenced": true,
    "defineConstraints": [],
    "versionDefines": [],
    "noEngineReferences": false
}